.hidden{
  visibility: hidden;
}

.font-color{
  color: #fff;
}

.small-font{
  font-size: 20px;
}

.big-font{
  font-size: 24px;
}

.hearder-icon-margin{
  margin-top: 15px;
  margin-right: 30px;
}

.side{
  width: 170px;
  height: 100vh;
  background-color: #9370db;
  padding: 10px;
  transition: .5s;
  transform: translateX(-120px);
  position: fixed;
  z-index: 1;
}

.side:hover{
  transform: translateX(0);
}

.side-menu{
  margin-top: 10px;
  display: flex;
  position: relative;
  margin-bottom: 40px;
}

.side .side-icon{
  margin-top: 5px;
  right: 5px;
  position: absolute;
  transition: .5s;
}

.side:hover .side-icon{
  transform: translateX(-100px);
}

.side .side-text{
  position: absolute;
  left: 0px;
  transition: .5s;
}

.side:hover .side-text{
  left: 52px;
}

.contents{
  padding-left: 50px;
  overflow: hidden;
}

.header{
  background-color: #fff;
  height: 50px;
}

.main-content{
  background-color: #eee;
  height: 500px;
  position: relative;
}

.header-bar{
  border: 2px solid #eee;
  padding: 5px 10px;
  position: absolute;
  top: 8px;
  right: 20px;
  cursor: pointer;
}

.Search{
  margin-top: 10px;
  margin-left: 20px;
  position: absolute;
}

.inputBox{
  width: 150px;
  border-radius: 5px;
  transition: width 1s;
}

.inputBox:focus{
  width: 300px;
}

.fa-search{
  background-color: #000;
  position: absolute;
  right: 0px;
  padding: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.badge{
  font-size: 0.5em !important;
}

.fa-bell{
  margin-left: 80px;
}