.hidden{
  visibility: hidden;
}

.none{
  display: none;
}

.font-color{
  color: #fff;
}

.small-font{
  font-size: 20px;
}

.big-font{
  font-size: 24px;
}

.border-skyblue{
  border-left: 5px solid skyblue;
}

.border-green{
  border-left: 5px solid green;
}

.border-purple{
  border-left: 5px solid #9370db;
}

.border-yellow{
  border-left: 5px solid #ffd400;
}

.hearder-icon-margin{
  margin-top: 15px;
  margin-right: 30px;
}

.side{
  width: 170px;
  height: 100vh;
  background-color: #9370db;
  padding: 10px;
  transition: .5s;
  transform: translateX(-120px);
  position: fixed;
  z-index: 1;
}

.side:hover{
  transform: translateX(0);
}

.side-menu{
  margin-top: 10px;
  display: flex;
  position: relative;
  margin-bottom: 40px;
}

.side .side-icon{
  margin-top: 5px;
  right: 5px;
  position: absolute;
  transition: .5s;
}

.side:hover .side-icon{
  transform: translateX(-100px);
}

.side .side-text{
  position: absolute;
  left: 0px;
  transition: .5s;
}

.side:hover .side-text{
  left: 52px;
}

.contents{
  width: 100vw - 100px;
}

.header{
  background-color: #fff;
  height: 50px;
  width: calc(100vw - 50px);
  margin-left: 50px;
  position: relative;
}

.main-content{
  background-color: #eee;
  height: 100%;
  /* height: calc(100vh - 50px); */
  width: calc(100vw - 50px);
  margin-left: 50px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.header-bar{
  border: 2px solid #eee;
  padding: 5px 10px;
  position: absolute;
  top: 8px;
  right: 20px;
  cursor: pointer;
}

.Search{
  margin-top: 10px;
  margin-left: 30px;
  position: absolute;

}

.inputBox{
  width: 150px;
  border-radius: 5px;
  transition: width 1s;
}

.inputBox:focus{
  width: 300px;
}

.fa-search{
  background-color: #000;
  position: absolute;
  right: 0px;
  padding: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.badge{
  font-size: 0.5em !important;
}

.fa-bell{
  position: absolute;
  cursor: pointer;
  left: 80%;
}

.fa-envelope{
  left: 80%;
  cursor: pointer;
}

.name{
  position: absolute;
  top: 10px;
  right: 3%;
}

.Dashboard{
  margin-bottom: 10px;
}

.Dashboard-box{
  height: 120px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  padding-left: 15px;
  box-shadow: 5px 5px 5px gray;
}

.Dashboard-box-title{
  position: absolute;
  top: 30px;
}

.Dashboard-box-value{
  position: absolute;
  top: 55px;
}

.Dashboard-box-icon{
  position: absolute;
  top: 45px;
  left: 75%;
  font-size: 32px;
  color: gray;
}

.Dashboard-Bottom{
  margin-top: 8px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  border: 0.5px solid gray;
}

.main-content-title{
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 40px;
  border-bottom: 0.5px solid gray;
  padding-left: 10px;
  line-height: 40px;
}

#myChart{
  padding: 10px
}

.task{
  position: relative;
}

.task-menu{
  padding-left: 10px;
}

.task-menu1{
  height: 35px;
  border-bottom: 0.5px solid gray;
  line-height: 35px;
}

.task-badge1{
  position: absolute;
  top: 50px;
  right: 10%;
  line-height: 20px;
  border-bottom: 0.5px solid gray;
  box-sizing: border-box;
}

.task-menu2{
  height: 35px;
  border-bottom: 0.5px solid gray;
  line-height: 35px;
}

.task-badge2{
  position: absolute;
  top: 85px;
  right: 10%;
  line-height: 20px;
  box-sizing: border-box;
}

.task-menu3{
  height: 35px;
  line-height: 35px;
}

.task-badge3{
  position: absolute;
  top: 120px;
  right: 10%;
  line-height: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px){
  .Dashboard-box-icon{
    left: 85%;
  }

  .Dashboard-Bottom{
    margin-bottom: 10px;
  }
}